@charset "utf-8";
/* CSS Document */

html, body {
	padding: 0;
	margin: 0;
	width: 100%;
}

body {
	font-family: "Verdana", "Arial", "sans-serif";
	font-size: 62.5%;
}


.search-result-icon {
	height: 1.2em;
	vertical-align: top;
	margin-right: 0.5em;
}

.empty-field {
	font-weight: lighter;
	font-style: italic;
	color: gray;
}

.nav-bar {
	font-size: 1.5em;
	background-color:#CCC;
	text-align: right;
	padding-right: 0.3em;
}

.nav-bar a {
	display:inline-block;
	margin: 0.3em 0.1em 0.1em 0.1em ;
	background-color:#999;
}



#feedback {
	font-size: 1.4em;
}

#search-results .ui-selecting {
	background: #FECA40;
}

#search-results .ui-selected {
	background: #F39814;
	color: white;
}

#search-results {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#search-results li {
	margin: 3px;
	padding: 0.2em;
}

#accordion {
	padding: 10px;
}

.ui-autocomplete-loading {
	background: white /*url('images/ui-anim_basic_16x16.gif')*/   right
		center no-repeat;
}

.annotation {
	color: #888;
	font-style: italic;
}

blockquote {
	font-size: 1.2em;
	font-style: italic;
	color: #666;
	background-color: #EEE;
	border: thin;
	border-style: solid;
	border-color: #666;
	margin: 0.5em;
	padding: 0.5em;
}
/*
input {
	width: auto;
}
input [type=text]{
	width: 100%;
}
textarea {
	width: 100%;
}
div .success {
	border: medium solid #090;
	text-align: center;
	margin: 0.5em;
	padding: 0.5em;
}
div .failure {
	border: medium solid #900;
	text-align: center;
	margin: 0.5em;
	padding: 0.5em;
}
div .info {
	border: medium solid #009;
	text-align: center;
	margin: 0.5em;
	padding: 0.5em;
}
.blurb {
	font-size: 1.2em;
	font-style: italic;
	color: #666;
	background-color: #EEE;
	border: thin;
	border-style: solid;
	border-color: #666;
	margin: 0.5em;
	padding: 0.5em;
}
.commentary {
	font-style: italic;
	color: #666;
}
.readonly {
	color: #666;
}
.process_nav {
	margin: 0.5em;
	padding: 0.5em;
}
*/	